*{
    margin: 0;
    padding: 0;
}
.site{
    background-color: blueviolet;
    height: 100vh;
    width: 1000px;
    margin: auto;
    color: aliceblue;
}
.header{
    background-color: #222;
    height: 200px;
    display: inline-block;
}
.nav{
    background-color: #222;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.daddy{
    /*background-color: lightpink;*/
    height: calc(100% - 410px);
    margin: 20px 0;
    font-size: 0;
}
.main{
    background-color:#222;
    height: 100%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
}
.aside{
    background-color: #222;
    height: 100%;
    width: calc(20% - 20px);
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    font-size: 10px;
}
.footer{
    background-color: #222;
    height: 100px;
}